body {
    width: auto;
    font-family: 'Inter', sans-serif;
}

.title {
    
}

h2 {
    font-size: 2rem;
}

.available-times-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
}

.unavailable-times-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.available-times-container table {
    border-collapse: collapse;
    width: 70%;
}
  
.available-times-container table > th, td {
    text-align: left;
    padding: 8px;
    width: 10%;
    background-color: aliceblue;
  }
  
.available-times-container table tr:nth-child(even) {
    background-color: #D6EEEE;
}

.available-times-container table, th, td {
    border: 1px solid black;
  }