body {
    background-color: #76b5c5;
    text-align: center;
    width: 100vw;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: forestgreen;
    left: 0;
    position: absolute;
    top: 15%;
    width: 99.9%;
    overflow: hidden;
}

.button {
    background-color: rgb(40, 36, 158);
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    text-decoration: none;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    overflow: hidden;
}